<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"  
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:redis="http://www.springframework.org/schema/redis"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd	  
		http://www.springframework.org/schema/redis
		http://www.springframework.org/schema/redis/spring-redis.xsd">  
      
      
      <context:annotation-config/> 

    <!-- jedis 连接池配置 -->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
         <property name="maxActive"  value="500" />
	    <property name="maxIdle" value="10" />
	    <property name="maxWait" value="15000" />
	    <property name="testOnBorrow" value="true" />
	    <property name="whenExhaustedAction" value="1"></property>
    </bean>

    <!-- redis的连接工厂 -->
    <bean id="redisConnectionFactory"
        class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
        p:host-name="localhost" p:port="6379" p:pool-config-ref="poolConfig"
        p:database="0" />


	<bean id="redisTemplateWithJdkSerializer" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="redisConnectionFactory"/>
		<property name="keySerializer" ref="stringSerializer"></property>
	</bean>
	
	
	<bean id="stringSerializer" class="org.springframework.data.redis.serializer.StringRedisSerializer" />
    <!-- spring data 提供 redis模板  -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="redisConnectionFactory" />
        <property name="keySerializer" ref="stringSerializer"></property>
        <property name="valueSerializer" ref="stringSerializer"></property>
    </bean>
      
    <bean id="redisPublisher" class="com.redis.utils.RedisPublisher">
        <property name="redisTemplate" ref="redisTemplate" />
 	</bean>
</beans>    