<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redis.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.redis.domain.User">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        id,name,password,username
    </sql>
    <select id="findUsers" resultMap="BaseResultMap" parameterType="String">
        select
        <include refid="Base_Column_List" />
        from SYS_USER
        where id like #{keyWords}
        or username like #{keyWords}
        or name like #{keyWords}
        or password like #{keyWords}
    </select>

    <!-- 查询所有的user -->
    <select id="selectAllUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from SYS_USER
    </select>

    <!-- 添加一个用户 -->
    <insert id="insertUser" parameterType="com.redis.domain.User">
        INSERT INTO
        SYS_USER(name,password,username) VALUES
        (#{name},#{password},#{username})
    </insert>

    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="int">
        DELETE FROM SYS_USER WHERE
        id=#{id}
    </delete>

    <!-- 更新user信息 -->
    <update id="editUser" parameterType="com.redis.domain.User">
        UPDATE SYS_USER SET
        name=#{name}, password=#{password},username=#{username} WHERE id=#{id}
    </update>
</mapper> 